::-webkit-scrollbar {
    display: none;
}

figure{
    position: relative;
    display: inline-block;
}

.img-circle {
    width: 250px;
}

.panel-title a {
    cursor: pointer;
}

.skill-logo-fig {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.skill-logo-fig:hover {
    transform: scale(1.05);
    background-color: rgba(128, 128, 128, .125);;
}

.skill-logo-img {
    height: 82px;
}

iframe {
    border: 2px inset black;
    border-radius: 10px;
}

#details, #full-site {
    display: none;
}