<div class="jumbotron">
    <h1>{{ pageName }} <span class="glyphicon glyphicon-{{ glyphicon }}"></span></h1>
</div>

<main>
    <div class="col-md-offset-2 col-md-8 col-sm-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="job in ec.jobs">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#{{ job.id }}"><b>{{ job.title }}</b> -
                            {{ job.org }}
                        </a>
                        <span class="pull-right hidden-xs">{{ job.years }}</span>
                        <span class="visible-xs">{{ job.years }}</span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="{{ job.id }}">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="detail in job.details">{{ detail }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
