<div id="bubbles"></div>
<div class="jumbotron">
    <h1>{{ pageName }} <span class="glyphicon glyphicon-{{ glyphicon }}"></span></h1>
    <br>
    <ul class="nav nav-justified nav-pills hidden-sm hidden-xs text-center">
        <li ng-repeat="project in pc.projects">
            <button type="button" class="btn btn-default" ng-click="pc.showProject(project)">
                {{ project.name }}
            </button>
        </li>
    </ul>
    <br>
    <button type="button" class="btn btn-info pull-left hidden-sm hidden-xs" id="details" data-toggle="modal"
            data-target="#projectModal">
        Details
    </button>
    <a href="" id="full-site" target="_blank">
        <button type="button" class="btn btn-success pull-right hidden-sm hidden-xs">Full
            Site
        </button>
    </a>
</div>
<div class="col-xs-12 text-center">
    <iframe class="hidden-sm hidden-xs" src="http://jonrasmussen.me/bubbles" height="500px" width="100%"
            frameborder="0"></iframe>
</div>

<div class="col-sm-12 visible-sm visible-xs">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="project in pc.projects">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#{{ project.id }}-panel">
                        {{ project.name}}
                    </a>
                    <a href="http://jonrasmussen.me/{{ project.id }}" class="mobile-full-site" target="_blank">
                        <button type="button" class="btn btn-success btn-xs pull-right">Full Site</button>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" id="{{ project.id }}-panel">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="detail in project.details">{{ detail }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="projectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ pc.project.name }}</h4>
            </div>
            <div class="modal-body">
                <h5>{{ pc.project.description }}</h5>
                <ul>
                    <li ng-repeat="detail in pc.project.details">{{ detail }}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>