<div class="jumbotron">
    <h1>{{ pageName }} <span class="glyphicon glyphicon-{{ glyphicon }}"></span></h1>
    <br>
    <div class="btn-group btn-group-justified">
        <div class="btn-group" ng-repeat="project in pc.projects">
        <button type="button" class="btn btn-default" ng-click="pc.showProject(project.id)">{{ project.name
            }}</button>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-info pull-left" id="details" data-toggle="modal" data-target="#projectModal">
        Details</button>
    <a href="" id="full-site" target="_blank"><button type="button" class="btn btn-success pull-right">Full
        Site</button></a>
</div>
<iframe src="http://jonrasmussen.me/bubbles" frameborder="0"></iframe>

<div id="projectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ pc.projects[pc.project].name }}</h4>
            </div>
            <div class="modal-body">
                <h5>{{ pc.projects[pc.project].description }}</h5>
                <ul>
                    <li ng-repeat="detail in pc.projects[pc.project].details">{{ detail }}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>